* {
  box-sizing: border-box; // includes padding & border to element's width & height
  margin: 0;
  padding: 0;
} 

// Animated cursor //
// body {
//   cursor:  url('../../assets/logos/logo-cursor-32x32px.png'), auto;
// }


