nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 80px;
  // background-color: #141414;
  // transition: background-color 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 40px;

  .navbar-left {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .navbar-logo {
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
    width: 130px;
    height: auto;
  }

  .navbar-title {
    margin: 20px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-size: $heading-4-font-size;
    font-weight: $heading-font-weight;
    letter-spacing: $spacing-extra-small;
    color: $base-text-color;

    &:hover {
      color: $hover-text-color;
    }
  }
}