.project-wrapper { 
  margin: 0 auto; // Center Horizontally
  width: 100%; 
  height: 100vh;
  overflow-y: scroll; // Enable vertical scrolling.
}

.project-container{
  padding: 10px;
  // background: url('/assets/1975-hero.jpg') center/cover; // Combines background-position & bg-size.
  background: grey;
  position: relative;
  max-width: 2400px;
  min-height: 100vh;
  border: 4px solid $primary-color;
}
